!.env.example
.DS_Store
.env
.env.*
.idea/
.image-cache/
.release-downloads/
.scratch/
.vscode/
.zarf*
*.bak
*.key
*.run.zstd
*.tar
*.tar.gz
*.tgz
*.vbox
*.zst
*.zim
build
data/
dist/
test-results/
zarf-pki
zarf-sbom/
*.part*
test-*.txt
__debug_bin
sboms
bundle-sboms
node_modules
checksums.txt
*.tape
