#main-sidebar svg.icon {
  @apply h-6 w-6 flex-shrink-0 text-gray-400 transition duration-300 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white;
}

#main-sidebar.w-16 .expanded-only {
  display: none;
}
