name: PR Title Check

on:
  pull_request:
    branches: [main]
    types: [opened, edited, synchronize]

permissions:
  contents: read

jobs:
  title_check:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2

      - name: Install commitlint
        run: npm install --save-dev @commitlint/{config-conventional,cli}@18.6.0

      - name: Lint PR title
        run: echo "${{ github.event.pull_request.title }}" | npx commitlint
