# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Dependency Check
on: pull_request

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          fail-on-severity: high
  grype-scan:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

        - uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c # v7
          id: scan
          with:
            path: "."
            fail-build: true
            severity-cutoff: critical
            output-format: json
            output-file: "grype-scan.json"

        - name: Output Grype Scan Report
          if: always()
          # file name 'grype-scan.json' is defined in .grype.yaml
          run: jq . grype-scan.json

        - name: Upload Grype Scan Report
          uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
          if: always()
          with:
            name: grype-scan-report
            path: grype-scan.json
            retention-days: 10
            overwrite: "true"
  govulncheck:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
          with:
            persist-credentials: false

        - name: Get Go version
          run: sed -En 's/^go (.*)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

        - id: govulncheck
          uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
          with:
            go-version-input: "${{ env.GO_VERSION }}"
            # Default output format is 'text'. Specifying the output format 'json' or 'sarif' will return success
            #even if there are some vulnerabilities detected.
            output-format: json
            output-file: govulncheck.json

        - name: Upload Govulncheck Report
          uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
          with:
            name: govulncheck-report
            path: govulncheck.json
            retention-days: 10
            overwrite: "true"
