# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Dependency Check
on: pull_request

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Dependency Review
        uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1
        with:
          fail-on-severity: high
  grype-scan:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

        - uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # v7
          id: scan
          with:
            path: "."
            fail-build: true
            severity-cutoff: critical
            output-format: json
            output-file: "grype-scan.json"

        - name: Output Grype Scan Report
          if: always()
          # file name 'grype-scan.json' is defined in .grype.yaml
          run: jq . grype-scan.json

        - name: Upload Grype Scan Report
          uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
          if: always()
          with:
            name: grype-scan-report
            path: grype-scan.json
            retention-days: 10
            overwrite: "true"
  govulncheck:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

        - name: Get Go version
          run: sed -En 's/^go (.*)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

        - id: govulncheck
          uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
          with:
            go-version-input: "${{ env.GO_VERSION }}"
            # Default output format is 'text'. Specifying the output format 'json' or 'sarif' will return success
            #even if there are some vulnerabilities detected.
            output-format: json
            output-file: govulncheck.json

        - name: Upload Govulncheck Report
          uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
          with:
            name: govulncheck-report
            path: govulncheck.json
            retention-days: 10
            overwrite: "true"
