# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Test GHCR Write
on:
  schedule:
    - cron: '0 7 * * *' ## Every day at 0700 UTC

  workflow_dispatch: ## Give us the ability to run this manually

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: e2e-ghcr-write-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Install UDS CLI
        uses: ./.github/actions/install-uds-cli

      - name: Build UDS-CLI binary
        run: uds run build-cli-linux-amd

      - name: Setup K3d
        uses: ./.github/actions/k3d

      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run e2e tests
        run: |
          build/uds run test:e2e-ghcr
        env:
          GITHUB_TOKEN: secrets.GITHUB_TOKEN

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: nightly-ghcr
