name: UDS Core Smoke Test
on:
  schedule:
    - cron: '0 7 * * *' ## Every day at 0700 UTC

  workflow_dispatch:

permissions:
  contents: read

# Abort prior jobs in the same workflow / PR
concurrency:
  group: uds-core-${{ github.ref }}
  cancel-in-progress: true

jobs:
  uds-core-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: 0

      - name: Build UDS-CLI binary
        run: make build-cli-linux-amd ARCH=amd64

      - name: Make UDS-CLI executable
        run: |
          chmod +x build/uds

      - name: Setup K3d
        uses: ./.github/actions/k3d

      - name: Deploy UDS Core bundle
        # renovate: datasource=github-tags depName=defenseunicorns/uds-core versioning=semver
        run: build/uds deploy ghcr.io/defenseunicorns/packages/uds/bundles/k3d-core-istio-dev:0.13.1 --confirm --no-progress
        shell: bash

      - name: Validate UDS Core deployment
        run: |
          build/uds zarf tools wait-for gateway admin-gateway -n istio-admin-gateway --timeout 10s
          build/uds zarf tools wait-for gateway passthrough-gateway -n istio-passthrough-gateway --timeout 10s
          build/uds zarf tools wait-for gateway tenant-gateway -n istio-tenant-gateway --timeout 10s
        shell: bash
