# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: E2E Release Tests
on:
  workflow_call: # This is the event that triggers the workflow

jobs:
  test:
    uses: ./.github/workflows/parallel-tests.yaml

  test-ghcr:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Download build artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: build-artifacts
          path: build/

      - name: setup-using-previous-job
        uses: ./.github/actions/setup-from-previous

      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GHCR tests
        run: |
          build/uds run test:e2e-ghcr
        env:
          GITHUB_TOKEN: secrets.GITHUB_TOKEN

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: test-ghcr


  smoke-test:
    runs-on: ubuntu-latest
    needs: test
    strategy:
      matrix:
        type: [with-cluster, without-cluster]
    steps:
      # Checkout the repo and setup the tooling for this job
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Download build artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: build-artifacts
          path: build/

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Make UDS-CLI executable
        run: |
          chmod +x build/uds

      - name: Setup K3d
        uses: ./.github/actions/k3d
        with:
          create-cluster: "${{ matrix.type == 'with-cluster' && 'true' || 'false'}}"

      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run UDS Core smoke test
        run: build/uds run test:ci-uds-core-smoke-test
        shell: bash

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: smoke-test-${{ matrix.type }}
