name: Validate Lint
on: pull_request

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Install goimports
        run: go install golang.org/x/tools/cmd/goimports@latest

      - name: Install golangci-lint
        run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.55.2

      - name: Run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd #
        with:
          extra_args: --all-files --verbose # pre-commit run --all-files --verbose

      - name: Run Revive Action by pulling pre-built image
        uses: docker://morphy/revive-action:v2@sha256:087d4e61077087755711ab7e9fae3cc899b7bb07ff8f6a30c3dfb240b1620ae8
        with:
          config: revive.toml
          # Exclude patterns, separated by semicolons (optional)
          exclude: "src/cmd/viper.go;src/config/lang/lang.go"
          # Path pattern (default: ./...)
          path: "./src/..."
