name: Validate Schema
on:
  pull_request:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Docs and schemas
        run: uds run schema:schema schema:test-schema

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
