# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Validate Schema and Docs
on:
  pull_request:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup golang
        uses: ./.github/actions/golang

      - name: Install UDS CLI
        uses: ./.github/actions/install-uds-cli

      - name: Test schemas
        run: uds run schema:test

      - name: Test docs
        run: uds run docs:test

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
        with:
          suffix: validate-schema-and-docs

  docs-link-check:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install UDS CLI
        uses: ./.github/actions/install-uds-cli

      - name: Check UDS Docs links
        run: uds run uds-docs-validate
